.App {
  text-align: center;
}

body {
  padding: 20px 0px;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-right: 30px;
  padding-left: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.accordion-wrapper {
  margin-bottom: 25px;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.03);
}

.accordion-toggle {
  display: flex;
  align-items: center;
  padding: 8px 15px;
  cursor: pointer;
  border-bottom: 1px solid #e8e8e8;
  background-color: #fafafa;
  font-weight: 500;
}

.accordion-toggle button {
  background: none;
  border: 0;
  outline: none;
  margin-left: auto;
}

.accordion-panel {
  font-weight: 300;
  padding: 12px 15px;
}
